//Styles for Activity.jsx
.trip-feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.itin-item {
    font-family: "Helvetica", "Arial";
    width: 50%;
    background: linear-gradient(217deg, rgba(40, 197, 233, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(145, 197, 239, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    padding: 20px;
    margin-bottom: 10px;
    border: solid 1px #000000;
    border-radius: 4px;
    box-shadow: 3px 3px 2px #ececec;
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    color: #ffffff;
}


.itin-item div{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.itin-item a {
    text-decoration: none;
    color: #5da4f0
}

.itin-item a:hover {
    text-decoration: underline;
}

//Styles for Group.jsx
.groupBox {
    background-color: rgba(23, 128, 110, 0.8); /* Set your desired background color */
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Set your desired border style */
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Additional styling for nested elements */
  .groupBox p {
    margin: 5px 0;
  }
  
  .groupBox button {
    background-color: #2F4F4F; /* Set your desired button color */
    color: #fff; /* Set text color */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .groupBox button:hover {
    background-color: #0056b3; /* Change button color on hover */
  }
